<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= simple_form_for @user, :url => subcribe_users_path, :method => :post do |f| %>
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <%= image_tag("/assets/matrix.png", :class => "image") %>
      <h3>Give me your info</h3>
      <hr>
      <%= f.input :email, :input_html => { class: "input-xlarge" } %>
      <%= f.label :subjects_subcribe %>
      <ul id="myTags"></ul>
      <%= f.input :subjects_subcribe, as: :hidden, :input_html => { class: "myTagsField" } %>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <%= f.submit "Subcribe", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>