<!DOCTYPE html>
<html>
<head>
  <title>MarkUet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'shared/topbar'%>
  <div class="container main">
    <div class="row">
      <div class="span11">
        <%= yield %>
        <div style="display:none">
          <div id="inline list-subjects">
            <% @subjects.each do |subject| %>
              <span class="subject"><%= subject.name %></span>
              <span class="subject"><%= subject.code %></span>
            <% end %>
          </div>
        </div>
        <%= render 'users/subcribe' %>
      </div>
    </div>
  </div>
  </script>
</body>
</html>
